// rxyhn Theme Color Palette

// Red
$red-light: #F16269;
$red-dark: #DF5B61;

// Pink
$pink-light: #EE6A70;
$pink-dark: #F16269;

// Purple
$purple-light: #C488EC;
$purple-dark: #BC83E3;

// Blue
$blue-light: #6791C9;
$blue-dark: #5A84BC;

// Teal
$teal-light: #7ACFE4;
$teal-dark: #67AFC1;

// Green
$green-light: #8CD7AA;
$green-dark: #78B892;

// Yellow
$yellow-light: #f6dc95;
$yellow-dark: #ecd28b;

// Orange
$orange-light: #E89982;
$orange-dark: #E9967E;

// Grey
$grey-050: #D9D7D6;
$grey-100: #E3E1E0;
$grey-150: #EDEBEA;
$grey-200: #4f5a5e;
$grey-250: #455054;
$grey-300: #3b464a;
$grey-350: #313c40;
$grey-400: #242f33;
$grey-450: #1c272b;
$grey-500: #131e22;
$grey-550: #0d181c;
$grey-600: #061115;
$grey-650: #0C171B;
$grey-700: #101B1F;
$grey-750: #192428;
$grey-800: #212C30;
$grey-850: #0A1519;
$grey-900: #000a0e;
$grey-950: #061115;

// White
$white: #D9D7D6;

// Black
$black: #061115;

// Button
$button-close: #DF5B61;
$button-max: #78B892;
$button-min: #ecd28b;

// Link
$links: #79AAEB;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;