# Shell history & Bash profiles
.bash_history
.bash_logout
.bash_profile
.bashrc
.zsh_history
.zsh_hisotry

# Large cache & system directories
.cache/
.local/
Pictures/
Downloads/
Documents/
Music/
Videos/
Public/
01.Project/
02.Area/
03.Resource/

# Tool configurations & installed plugins
.copilot/
.gnupg/
.oh-my-zsh/
.vscode/
.vscode-shared/
powerlevel10k/
zsh-syntax-highlighting/
.gitconfig

# Ignore folder that are not relevant to the setup
.config/zen/
.config/Code/
.config/DIPS-wal
.config/yay
.config/mimeapps.list
.config/gh/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/dconf
 .dotnet/
.config/spotify/
