// Tokyo Night Theme Color Palette

// Red
$red-light: #f7768e;
$red-dark: #DE8C92;

// Pink
$pink-light: #ff75a0;
$pink-dark: #DE8C92;

// Purple
$purple-light: #bb9af7;
$purple-dark: #9d7cd8;

// Blue
$blue-light: #7aa2f7;
$blue-dark: #80a8fd;

// Teal
$teal-light: #73daca;
$teal-dark: #1abc9c;

// Green
$green-light: #9ece6a;
$green-dark: #73daca;

// Yellow
$yellow-light: #e0af68;
$yellow-dark: #EBCB8B;

// Orange
$orange-light: #ff9e64;
$orange-dark: #ff9e64;

// Grey
$grey-050: #d5d6db;
$grey-100: #cbccd1;
$grey-150: #a9b1d6;
$grey-200: #787c99;
$grey-250: #565f89;
$grey-300: #4f5779;
$grey-350: #545c7e;
$grey-400: #444b6a;
$grey-450: #40486a;
$grey-500: #353b45;
$grey-550: #414868;
$grey-600: #2f3549;
$grey-650: #32333e;
$grey-700: #24283b;
$grey-750: #1f2336;
$grey-800: #1a1b26;
$grey-850: #16161e;
$grey-900: #1d1e29;
$grey-950: #0f0f0f;

// White
$white: #c0caf5;

// Black
$black: #1a1b26;

// Button
$button-close: #f7768e;
$button-max: #9ece6a;
$button-min: #e0af68;

// Link
$links: #7dcfff;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;