@import "colors/colors.css";

* {
    font-family: SF Pro Display;
}


window {
    font-size: 14pt;
    color:  @fg; /* text */
    background-color: alpha(@bg, 0.5); /* background */

} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;

    border-radius: 25px;
    margin: 10px;
    min-width: 50px;
    min-height: 50px;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
}

button:hover {
    background-size: 35%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @blue;
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}


#logout {
    background-image: image(url("./icons/logout.png"));
}


#reboot {
    background-image: image(url("./icons/restart.png"));
}


#lock {
    background-image: image(url("./icons/lock.png"));
}


#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

