@import "colors/colors.css";

* {
	background-image: none;
	box-shadow: none;
	font-family: SF Pro Text;
        font-size: 20px;
	transition: all 0.2s ease-in-out;
}

window {
	background-color: alpha(@bg2, 0.4);
}

button {
        border-color: alpha(@fg, 0.2);
	text-decoration-color: @fg;
        color: white;
	background-color: alpha(@bg0, 0.1);
	border-style: solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: alpha(@blue, 0.3);
	outline-style: none;
}

#lock {
       border-radius: 0px 0px 100px 0px;
       background-image: image(url("/home/shiham/.config/wlogout/icons/lock.png"));
}

#logout {
         border-radius: 0px 100px 0px 0px ;
         background-image: image(url("/home/shiham/.config/wlogout/icons/logout.png"));
}

#suspend {
          border-radius: 0px 0px 0px 100px ;
          background-image: image(url("/home/shiham/.config/wlogout/icons/sleep.png"));
}

#hibernate {
            border-radius: 0px 0px 0px 0px;
            background-image: image(url("/home/shiham/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
           border-radius: 100px 0px 0px 0px;
           background-image: image(url("/home/shiham/.config/wlogout/icons/power.png"));
}

#reboot {
         border-radius: 0px 0px 0px 0px;
         background-image: image(url("/home/shiham/.config/wlogout/icons/restart.png"));
}